In [11]:
import pandas as pd
import openpyxl

In [86]:
# Import raw data
df = pd.read_excel('Leading_causes_of_death_since1999(raw).xlsx', engine='openpyxl')

In [95]:
# Compute the unknown causes of death
residuals=df[(df['State']!='United States') & (df['Cause ID']!=1111)]
totals=df[(df['State']!='United States') & (df['Cause ID']==1111)]
residuals_t = residuals.groupby(['Year', 'State'])['Deaths'].sum().reset_index()
totals_t = totals.groupby(['Year', 'State'])['Deaths'].sum().reset_index()

In [98]:
#Append the unknown causes of death
df_C = residuals_t[['Year', 'State']]
df_C['Deaths'] = totals_t['Deaths'] - residuals_t['Deaths']
df_C['CauseID']  = 'Unknown'
df_Cy = df_C[['Year']]
df_Cy['Cause ID'] = 'Unknown'
df_Cy['State'], df_Cy['Deaths'] = df_C['State'], df_C['Deaths']
df_Cy

C:\Users\Acer\AppData\Local\Temp\ipykernel_10308\2703684158.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cy['Cause ID'] = 'Unknown'
C:\Users\Acer\AppData\Local\Temp\ipykernel_10308\2703684158.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cy['State'], df_Cy['Deaths'] = df_C['State'], df_C['Deaths']

     Year Cause ID          State  Deaths
0    1999  Unknown        Alabama    9366
1    1999  Unknown         Alaska     634
2    1999  Unknown        Arizona    8254
3    1999  Unknown       Arkansas    5913
4    1999  Unknown     California   43227
..    ...      ...            ...     ...
913  2016  Unknown       Virginia   18521
914  2016  Unknown     Washington   14417
915  2016  Unknown  West Virginia    6051
916  2016  Unknown      Wisconsin   13539
917  2016  Unknown        Wyoming    1244

[918 rows x 4 columns]

In [114]:
#Save clean file
result_df.to_excel('Leading_causes_of_death_since1999.xlsx', index=False)